<h2>Hola {{usuario.nombre}},</h2>
<p>Tu pedido <b>#{{pedido.id}}</b> está <b>{{pedido.estado}}</b>.</p>
<ul>
  <li>Método de pago: {{pedido.metodoPago}}</li>
  <li>Dirección: {{pedido.direccion}}</li>
  <li>Total: Bs. {{pedido.total}}</li>
</ul>
